*{
    margin:0;
    padding:0;
} 
.navbar{
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    overflow: auto;
    width: 100vw;
}

ul{
    list-style-type: none;
    background-color: white;
    overflow: hidden;
    margin:0px;
    padding:0px;
    margin-right: 20%;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    float: right;
    padding: 10px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

.name{
    float: left;
    background: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    height: 50px;
    width: 300px;
    padding: 20px 15px;
    margin-left:20%;
}

#contact{
    border-right: none;
}

body{
    background-color: #f0e8e8;
}

.container{
    background-color: white;
    margin: 35px auto;
    padding: 20px;
    line-height: 2;
    width: 960px;
    border: 1px solid #cccccc;
    color: #777777;
    font-family:Arial, Helvetica, sans-serif;
}

.container h1{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container img{
    padding:15px 10px;
    float: left;
}

.container p{
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #777777;
    text-align: center;
    padding-top: 30px;
    padding-bottom:10px;
    border-top: 4px solid #4aaaa5;
    position: absolute;
    bottom: 0;
    width: 100%;
}

form{
    margin-left:30px;
    line-height: 2;
}

input{
    width: 95%;
    height:30px;
}

#tallmessage{
    height:250px;
    resize: both;
    overflow: auto;
}

#inputbutton{
    background-color: #4aaaa5;
    color: white;
    width: 100px;
    line-height: 150%;
}